body {
  background: linear-gradient(to right, #f32170 , #ffeb07 , #2196f3 , #ff00eb);
}

h1 {
  font-size: 30px;
  font-family: Alice;
  color: white;
  }
  
ul {
  color: white;
  font-family: Alice;
  font-size: 20px;
}

a {
  color: white;
}

a:visited {
  color: #757575;
}

a:hover {
  color: black;
}
